In [1]:
import pandas as pd

In [3]:
import os

In [4]:
pwd

'C:\\Users\\simra'

In [5]:
os.chdir("C:\\Users\\simra\\Downloads")

In [6]:
pwd

'C:\\Users\\simra\\Downloads'

In [7]:
cast = pd.read_csv("cast.csv")
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [9]:
cast["title"].count()

3611212

### What are the earliest two films listed in the titles dataframe?

In [11]:
cast.sort_values("year").head(2)

,title,year,name,type,character,n
2514470,Miss Jerry,1894,Blanche Bayliss,actress,Miss Geraldine Holbrook (Miss Jerry),NaN
555929,Miss Jerry,1894,Chauncey Depew,actor,Himself - the Director of the New York Central...,NaN

### How many movies have the title "Hamlet"?

In [12]:
cast[cast["title"]=='Hamlet'].count()

title        313
year         313
name         313
type         313
character    313
n            248
dtype: int64

In [13]:
cast[cast["title"]=='Hamlet']['title'].count()

313

### How many movies are titled "North by Northwest"?

In [14]:
cast[cast["title"]=='North by Northwest']

,title,year,name,type,character,n
12151,North by Northwest,1959,Stanley Adams,actor,Lieutenant Harding,NaN
27852,North by Northwest,1959,Andy Albin,actor,Farmer,NaN
54093,North by Northwest,1959,Don Anderson,actor,Worker,NaN
54307,North by Northwest,1959,Ernest Anderson,actor,Porter on Twentieth Century Ltd.,NaN
92195,North by Northwest,1959,Malcolm Atterbury,actor,Man at Prairie Crossing,NaN
...,...,...,...,...,...,...
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
3416124,North by Northwest,1959,Doris Singh,actress,First United Nations Receptionist,NaN
3437248,North by Northwest,1959,Helen Spring,actress,Bidder,NaN
3567500,North by Northwest,1959,Susan Whitney,actress,Attendant,NaN
3578877,North by Northwest,1959,Paula Winslowe,actress,Woman at Auction,NaN

In [15]:
cast[cast["title"]=='North by Northwest'].count()

title        112
year         112
name         112
type         112
character    112
n             16
dtype: int64

In [16]:
cast[cast["title"]=='North by Northwest']['title'].count()

112

### When was the first movie titled "Hamlet" made?

In [17]:
df_sorted_year=cast.sort_values("year")
df_sorted_year[df_sorted_year["title"]=='Hamlet'].head()

          title  year               name     type character    n
1545289  Hamlet  1910  Jean Mounet-Sully    actor    Hamlet  NaN
954648   Hamlet  1911        Aage Hertel    actor  Claudius  2.0
2422953  Hamlet  1911   Einar Zangenberg    actor   Laertes  5.0
3369033  Hamlet  1911      Emilie Sannom  actress   Ophelia  4.0
1592118  Hamlet  1911         Alwin Neu?    actor    Hamlet  1.0

In [18]:
df_sorted_year=cast.sort_values("year")
df_sorted_year[df_sorted_year["title"]=='Hamlet'].head(1)

          title  year               name   type character   n
1545289  Hamlet  1910  Jean Mounet-Sully  actor    Hamlet NaN

### List all of the "Treasure Island" movies from earliest to most recent.

In [19]:
df_sorted_year=cast.sort_values("year")
df_sorted_year[df_sorted_year["title"]=='Treasure Island']

,title,year,name,type,character,n
830114,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
840745,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
1946119,Treasure Island,1918,Lewis Sargent,actor,Ben Gunn,5.0
1473574,Treasure Island,1918,Buddy Messinger,actor,Captain Smolett,6.0
1715014,Treasure Island,1918,Lloyd Perl,actor,Black Dog,4.0
...,...,...,...,...,...,...
3195608,Treasure Island,1999,Suzy Nakamura,actress,Yo-Ji,5.0
2660575,Treasure Island,1999,Nigel (II) Cox,actress,Enid,22.0
589900,Treasure Island,1999,Jamie Donovan,actor,John,21.0
3245250,Treasure Island,1999,Lisa Papineau,actress,Diedre,19.0
3507587,Treasure Island,1999,Guinevere Turner,actress,Evelyn,14.0

In [20]:
df_sorted_year=cast.sort_values("year")
df_sorted_year[df_sorted_year["title"]=='Treasure Island'].head(20)

,title,year,name,type,character,n
830114,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
840745,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
1946119,Treasure Island,1918,Lewis Sargent,actor,Ben Gunn,5.0
1473574,Treasure Island,1918,Buddy Messinger,actor,Captain Smolett,6.0
1715014,Treasure Island,1918,Lloyd Perl,actor,Black Dog,4.0
909157,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
2654214,Treasure Island,1918,Virginia Lee Corbin,actress,Louise Trelawney,2.0
1291387,Treasure Island,1918,Elmo Lincoln,actor,Prologue Player,NaN
1261579,Treasure Island,1918,Raymond Lee,actor,Bit Role,NaN
3553298,Treasure Island,1918,Eleanor Washington,actress,Prologue Player,NaN
3298306,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
1417884,Treasure Island,1918,Herschel Mayall,actor,Prologue Player,NaN
339256,Treasure Island,1918,Francis Carpenter,actor,Jim Hawkins,1.0
2037631,Treasure Island,1920,Joseph Singleton,actor,Israel Hands,7.0
700670,Treasure Island,1920,Al W. Filson,actor,Bill Bones,3.0
1358420,Treasure Island,1920,Charles Hill Mailes,actor,Dr. Livesey,11.0
2006457,Treasure Island,1920,Thomas William Sheffield,actor,Man going over Plank,NaN
2164752,Treasure Island,1920,Wilton Taylor,actor,Black Dog,4.0
3116605,Treasure Island,1920,Shirley Mason,actress,Jim Hawkins,1.0
537825,Treasure Island,1920,Sydney Deane,actor,Squire Trelawney,10.0

### How many movies were made in the year 1950?

In [21]:
cast[cast["year"]==1950].count()

title        22006
year         22006
name         22006
type         22006
character    22006
n            10651
dtype: int64

In [22]:
cast[cast["year"]==1950]["year"].count()

22006

### How many movies were made in the year 1960?

In [23]:
cast[cast["year"]==1960]["year"].count()

18456

### How many movies were made from 1950 through 1959?

In [25]:
cast[cast.year.between(1950,1959)]["title"].count()

210986

### In what years has a movie titled "Batman" been released?

In [26]:
df_sorted_year=cast.sort_values("year")
df_sorted_year[df_sorted_year["title"]=='Batman']

,title,year,name,type,character,n
713064,Batman,1943,Sam Flint,actor,Dr. G.H. Borden [Ch. 1,NaN
1105832,Batman,1943,Eddie Kane,actor,J. Hanson,NaN
1079713,Batman,1943,I. Stanford Jolley,actor,Henchman Brett [Ch. 1-2,NaN
1629893,Batman,1943,Pat O'Malley,actor,Cop,NaN
1488728,Batman,1943,Harold Miller,actor,Restaurant Patron,NaN
...,...,...,...,...,...,...
149767,Batman,1989,David Baxt,actor,Dr. Thomas Wayne,48.0
199262,Batman,1989,Paul Birchard,actor,Another Reporter,55.0
489980,Batman,1989,Clive Curtis,actor,Goon in Bell-Tower,NaN
492323,Batman,1989,Joel Cutrara,actor,Crimelord #2,22.0
2707166,Batman,1989,Serena Destouche,actress,Extra,NaN

In [28]:
cast[cast["title"]== "Batman"]["year"].unique

<bound method Series.unique of 95672      1943
96186      1943
114034     1989
119476     1989
149767     1989
           ...
2907449    1989
3253550    1943
3343947    1989
3345872    1989
3356826    1989
Name: year, Length: 120, dtype: int64>

### How many roles were there in the movie "Inception"?

In [30]:

cast[cast["title"]=='Inception']['character'].count()

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [33]:

cast[cast["title"]=='Inception']['n'].isnull().sum()

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [32]:
cast[cast["title"]=='Inception']['n'].count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [34]:
df_sorted_n=cast.sort_values("n")
df_sorted_n[(df_sorted_n["title"]=='North by Northwest') & (pd.notnull(df_sorted_n['n']))]

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [37]:
df_sorted_n=cast.sort_values("n")
df_sorted_n[(df_sorted_n["title"]=='Sleuth') & (df_sorted_n['year']==1972)]

,title,year,name,type,character,n
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [38]:
df_sorted_n=cast.sort_values("n")
df_sorted_n[(df_sorted_n["title"]=='Sleuth') & (df_sorted_n['year']==2007)]

          title  year                 name     type          character    n
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [41]:
cast[(cast["title"]=="Hamlet") & (cast["year"]==1921)]["character"]

7438            Fortinbras,
442224         K?nig Hamlet
535307              Laertes
1095274            Polonius
2106367             Horatio
2289163            Claudius
2562876    K?nigin Gertrude
2935728             Ophelia
3209199              Hamlet
Name: character, dtype: object

In [42]:
cast[(cast["title"]=='Hamlet') & (cast['year']==1921)]['character'].count()

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [48]:
cast[(cast["title"]=="Hamlet") & (cast['year']==1996)]['character']

1615          Attendant to Claudius
92106            English Ambassador
152349           Second Gravedigger
206181        Attendant to Claudius
211111     Ghost of Hamlet's Father
241315                Cadet in Play
250281                       Hamlet
262368                     Polonius
283598                       Priest
307699        Attendant to Claudius
331657                  Laertes Mob
482982            First Gravedigger
500005                Stage Manager
555725                     Reynaldo
577284                 Guildenstern
582748                       Yorick
633587                     Lucianus
645509               Old Fortinbras
679290                      Horatio
683298                    Francisco
797642                        Priam
955936                  Player King
1037016                   Cornelius
1044207                    Claudius
1167241        Fortinbras's Captain
1269051                   Marcellus
1350198           Elsinore Courtier
1366209                     Laertes
1435643                    Barnardo
1493790                  Old Norway
1500413                  Sailor Two
1531589                     Pyrrhus
1966605                  Young Lord
1978967                     Boatman
1993152                  Fortinbras
2073370                 Rosencrantz
2076719        Fortinbras's Captain
2141264                Young Hamlet
2177460                First Player
2316164                   Voltimand
2363858                       Osric
2409119                  Sailor One
2417104                   Alexander
2631662                    Gertrude
2703468                      Hecuba
2723751       Attendant to Gertrude
2821440                      Doctor
2877400                Player Queen
2989168       Attendant to Gertrude
3021294       Attendant to Gertrude
3298558                    Prologue
3303304                  Prostitute
3557773               Second Player
3578802                     Ophelia
Name: character, dtype: object

In [49]:
cast[(cast["title"]=="Hamlet") & (cast['year']==1996)]['character'].count()

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [50]:
cast[(cast["title"]=="Hamlet") & (cast['character']=="Hamlet")]['character']

250281     Hamlet
301167     Hamlet
720239     Hamlet
797167     Hamlet
927474     Hamlet
1445165    Hamlet
1464220    Hamlet
1475484    Hamlet
1476221    Hamlet
1545289    Hamlet
1592118    Hamlet
1804123    Hamlet
2365616    Hamlet
3209199    Hamlet
3256505    Hamlet
Name: character, dtype: object

In [51]:
cast[(cast["title"]=="Hamlet") & (cast['character']=="Hamlet")]['character'].count()

15

### How many people have played an "Ophelia"?

In [53]:
cast[(cast["character"]=="Ophelia")]['character']

238855     Ophelia
395196     Ophelia
453835     Ophelia
835461     Ophelia
1315145    Ophelia
            ...
3538349    Ophelia
3551691    Ophelia
3552384    Ophelia
3562331    Ophelia
3578802    Ophelia
Name: character, Length: 111, dtype: object

In [54]:
cast[(cast["character"]=="Ophelia")]['character'].count()

111

### How many people have played a role called "The Dude"?

In [56]:
cast[(cast["character"]=="The Dude")]['character']

261792     The Dude
326893     The Dude
480810     The Dude
549887     The Dude
588962     The Dude
607151     The Dude
1051244    The Dude
1098711    The Dude
1317786    The Dude
1336484    The Dude
1458465    The Dude
1485772    The Dude
1720449    The Dude
1759296    The Dude
1772919    The Dude
2122519    The Dude
2250949    The Dude
2330925    The Dude
Name: character, dtype: object

In [57]:
cast[(cast["character"]=="The Dude")]['character'].count()

18

### How many people have played a role called "The Stranger"?

In [58]:
cast[(cast["character"]=="The Stranger")]['character']

24819      The Stranger
34302      The Stranger
64774      The Stranger
64777      The Stranger
64779      The Stranger
               ...
3068419    The Stranger
3081837    The Stranger
3256243    The Stranger
3276867    The Stranger
3407234    The Stranger
Name: character, Length: 208, dtype: object

In [59]:
cast[(cast["character"]=="The Stranger")]['character'].count()

208

### How many roles has Sidney Poitier played throughout his career?

In [60]:
cast[(cast["name"]=="Sidney Poitier")]['character']

1751059                          Gordon Ralfe
1751060                         Manny Durrell
1751061                    Walter Lee Younger
1751062                      Dr. Matt Younger
1751063                     Sgt. Eddie Towler
1751064                                Rau-Ru
1751065                     Gregory W. Miller
1751066                             John Kane
1751067                                  Buck
1751068                     Reverend Msimangu
1751069                                Toller
1751070                           Tommy Tyler
1751071                            Jack Parks
1751072                         Inman Jackson
1751073                          Gates Watson
1751074                         John Prentice
1751075                          Virgil Tibbs
1751076                        Clyde Williams
1751077                           Homer Smith
1751078                         Roy Parmenter
1751079                     Dr. Luther Brooks
1751080                            Eddie Cook
1751081                                 Porgy
1751082                                Doctor
1751083                             Robertson
1751084                      Night Club Extra
1751085                        Warren Stantin
1751086                         Donald Crease
1751087                     Kimani Wa Karanja
1751088                         Ben Munceford
1751089                           Noah Cullen
1751090                       Simon of Cyrene
1751091    FBI Deputy Director Carter Preston
1751092                            Aly Mansuh
1751093                           Jason Higgs
1751094                                  Obam
1751095                          Virgil Tibbs
1751096                           Alan Newell
1751097                           Shack Twala
1751098                          Virgil Tibbs
1751099                        Mark Thackeray
1751100                         Steve Jackson
1751101                                Marcus
Name: character, dtype: object

In [61]:
cast[(cast["name"]=="Sidney Poitier")]['character'].count()

43

### How many roles has Judi Dench played?

In [62]:
cast[(cast["name"]=="Judi Dench")]['character']

2703455                        Nora Doel
2703456                      Mrs. Beaver
2703457                          Titania
2703458       Eleanor Lavish, a novelist
2703459                            Sally
2703460                       Miss Lilly
2703461                                M
2703462                   Armande Voizin
2703463                   Laura Davidson
2703464                                M
2703465                         Narrator
2703466                             Wife
2703467                                M
2703468                           Hecuba
2703469                           Joanne
2703470            Mistress Nell Quickly
2703471                     Mrs. Caloway
2703472                     Iris Murdoch
2703473                     Annie Hoover
2703474                         Margaret
2703475                     Mrs. Fairfax
2703476                          Paulina
2703477                           Ursula
2703478                        Katherine
2703479                      Miss Avocet
2703480                   Queen Victoria
2703481             Mrs. Laura Henderson
2703482             Princess Dragomiroff
2703483             Dame Sybil Thorndike
2703484                            Lilli
2703485                   Barbara Covett
2703486                        Philomena
2703487                     Society Lady
2703488          Lady Catherine de Bourg
2703489                                M
2703490                     Mona Carvell
2703491                         Bag Lady
2703492                     The Narrator
2703493                  Queen Elizabeth
2703494                                M
2703495                                M
2703496                             Mary
2703497                         Arabella
2703498    Shakespeare's Sonnets read by
2703499                Evelyn Greenslade
2703500                           Aereon
2703501                   Lady Bracknell
2703502                Evelyn Greenslade
2703503                       Agnis Hamm
2703504                   Miss Humphries
2703505                                M
2703506                                M
2703507         The Abbess of St. Ursula
2703508                   Queen Victoria
2703509                Marcia Pilborough
Name: character, dtype: object

In [63]:
cast[(cast["name"]=="Judi Dench")]['character'].count()

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [64]:
df_sorted_year=cast.sort_values("year")
df_sorted_year[(df_sorted_year['name']=='Cary Grant') & (df_sorted_year['year']>=1940) & (df_sorted_year['year']<=1950) & (df_sorted_year['n']==2)]

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [65]:
df_sorted_year=cast.sort_values("year")
df_sorted_year[(df_sorted_year['name']=='Cary Grant') & (df_sorted_year['year']>=1940) & (df_sorted_year['year']<=1950) & (df_sorted_year['n']<2)]

,title,year,name,type,character,n
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
840386,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
840377,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840401,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
840344,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
840373,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
840378,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
840336,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
840375,Notorious,1946,Cary Grant,actor,Devlin,1.0
840372,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
840394,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
840393,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
840348,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
840368,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
840357,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0
840342,Crisis,1950,Cary Grant,actor,Dr. Eugene Norland Ferguson,1.0

### How many roles were available for actors in the 1950s?

In [66]:
cast[(cast["year"]==1950) & (cast['type']=='actor')]['character'].count()

16512

### How many roles were available for actresses in the 1950s?

In [70]:
cast[(cast["year"]==1950) & (cast['type']=='actress')]['character'].count()

5494

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [71]:
cast[(cast["year"]<1980) & (cast['n']== 1)]['character'].count()

62781

### How many non-leading roles were available through from the beginning of film history through 1980?

In [72]:
dt=cast.dropna()
dt[(dt["year"]<1980) & (dt['n']!=1)]['character'].count()

639273

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [73]:
cast['n'].isnull().sum()

1379242